html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  text-align: center;
  
}
h3, h4 ol, li{
  text-align: justify;
}
img.medio{
  height: 5px;
  width: 5px;
}

body {
  font-family: "Helvetica", sans-serif;
}
ol {
  list-style: none;
}
ol >li{
  counter-increment: listcounter;
}
ol > li::before {
  content:counter(listcounter);
  counter-reset: section1 h4 ;
}
div{
  text-align: center;
  display: block;
  margin: 0 auto;
}